<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head>
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/card_plort.css' %}">
</head>
<body>
    <div class="sect">
        {% for plort in plorts %}
            <table class="text_title">
                <tbody>
                    <tr>
                        <td rowspan="4"> <img src="{% static plort.imagePlort %}" height="100px"></td>
                        <td><p><b>{{plort.plortName}}</b></p></td>
                    </tr>
                    <tr>
                        <td>
                            {% if user.is_authenticated and user.is_superuser == False %}
                            <form action="{% url 'cart_add' plort.idPlort %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Add to cart"></td>
                    </tr>
                    </form>
                            {% endif %}
                </tbody>
            </table>

            <table>
                <tr>
                    <td><p>Price: &#160;{{plort.price}} newbucks</p></td>
                </tr>
                <tr>
                    <td><p>In stock: &#160;{{plort.quantity}}</p></td>
                </tr>
                <tr>
                    <td><p>Rarity: &#160;{{plort.rarity}}</p></td>
                </tr>
              </table>
            <table class="text">
                <tr>
                    <td><p>{{plort.description}}</p></td>
                </tr>
            </table>
        {% endfor %}

        <div class="comment">
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>You can leave a comment</td>
                    </tr>
                     <tr>
                        <td>{{comment_form.UserText}}</td>
                    </tr>
                </table>
                    <input type="submit" value="Comment">
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>

        <div class="comments_for_base">
            {% if comments %}
                {% for comment in comments %}
                    <table>
                        <tr>
                            <td>User:&#160;{{comment.userName}}</td>
                        </tr>
                        <tr>
                            <td>Comment:&#160;{{comment.UserText}}</td>
                        </tr>
                        <tr>
                            <td>Date:&#160;{{comment.dateOrder}}</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'cart_remove' product %}">Remove</a></td>
                        </tr>
                    </table>
                {% endfor %}
            {% else %}
                 <table class="comments_for_base">
                    <tr>
                        <td>No comments yet, be the first!</td>
                    </tr>
                </table>
            {% endif %}
        </div>

    </div>
</body>
{% endblock %}
