<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head>
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
    <div class="sect">
        <h3>The new password is sent to van via email. If the message does not
            arrive within a few minutes, check your spam folder.</h3>
    </div>
</body>
{% endblock %}
