<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head>
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
    <div class="sect">
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td class="reset" colspan="2"><input type="submit" value="Reset password"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
{% endblock %}
