.sect{
    min-width: 478px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

/*label{*/
/*    !*text-transform: capitalize;*!*/
/*    text-align: justify;*/
/*}*/

form{
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    padding-bottom: 15px;
    text-align-all: right;
}

input{
    text-align: right;
    margin-block-start: 15px;
}