nav{
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.sect_user{
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.sect{
    min-width: 478px;
    padding: 8px 8px 16px 8px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 16px 0px 8px 0px;
}

td{
    padding-right: 8px;
}

.sect h3{
    text-align: center;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.sect table {
    margin-bottom: 16px;
}

.sect p{
    padding-top: 8px;
    padding-bottom: 8px;
}

label{
    text-transform: capitalize;
    text-align: justify;
    padding-right: 8px;
}

input{
    text-align: right;
    margin-block-end: 7px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(25, 41, 73, 0.8);
}

input:active{
    background: rgba(250, 228, 231, 0.8);
    color: rgba(255, 89, 108, 0.8);
}

.restore{
    margin-top: 8px;
    padding-bottom: 8px;
}

.restore a{
    margin: 8px 0px 8px 0px;
}

.dell{
    margin: 0px 0px 8px 0px;
}

.reset input{
    margin: 0px;
}

.for_base{
    margin: 8px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    border-radius: 10px;
}

textarea{
    padding: 5px;
    border-radius: 10px;
}

.orders_check{
    width: 100%;
    display: flex;
    align-items: flex-start;
    line-height: normal;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    margin-block-end: 16px;
}

.orders{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 8px;
    text-align: justify;
    margin-right: 8px;
    align-content: space-around;
    align-items: center;
}

.orders td{
    padding-right: 0px;
}
