*{
    padding: 0px;
    margin: 0px;
    color: #192949;
}

body{
    margin-right: 10%;
    margin-left: 10%;
    background-image: url("../images/wallpaper.png");
    background-repeat: repeat;
}

nav{
    display: flex;
    text-align: left;
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    line-height: normal;
    min-width: 478px;
}

nav img{
    margin-left: 7px;
    margin-right: 4px;
}

a{
    background: rgba(195, 210, 246, 0.7);
    padding: 3px 8px 3px 8px;
    margin: 7px;
    border-radius: 10px;
    border: 1px solid rgba(25, 41, 73, 0.8);
    text-decoration-line: none;
}

a:active{
    background: rgba(250, 228, 231, 0.8);
    color: rgba(255, 89, 108, 0.8);
    text-decoration-line: none;
}

.datetime{
    margin: 10px 10px 10px auto;
}

.support{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 16px 8px 0px 8px;
    padding: 16px;
    object-position: center;
}

.support a{
    margin: 0px;
}

footer{
    margin-top: 16px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

@media screen and (min-width:900px) {
    a{
    padding: 5px 8px 5px 8px;
    margin: 7px 15px 7px 10px;
    }
}
