.sect{
    min-width: 478px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

label{
    text-align: justify;
    vertical-align: center;
    padding-right: 8px;
}

form{
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
}

input {
    text-align: right;
    margin-block-start: 7px;
    margin-block-end: 7px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(25, 41, 73, 0.8);
}

input:active{
    background: rgba(250, 228, 231, 0.8);
    color: rgba(255, 89, 108, 0.8);
}
