<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head>
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    <div class="cart">
       {% if user.is_authenticated %}



            <form method="post">
<!--                {{form.as_p}}-->
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.boughtQuantity.label_tag }}</td>
                        <td>{{ form.boughtQuantity }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.dateDelivery.label_tag }}</td>
                        <td>{{ form.dateDelivery }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.deliveryAddress.label_tag }}</td>
                        <td>{{ form.deliveryAddress }}</td>
                    </tr>
<!--                    <tr>-->
<!--                        <td>{{ form.deliveryAddress.label_tag }}</td>-->
<!--                        <td>{{ form.deliveryAddress.label_tag }}</td>-->
<!--                    </tr>-->
                    </table>
<!--                    <div>-->
<!--                        {{ form.ConsentDataProcessing.label_tag }}-->
<!--                        {{ form.ConsentDataProcessing }}-->
<!--                    </div>-->

                <input type="submit" value="Buy">
            </form>

        {% else %}
            <p>To make purchases, you must register and log in.</p>
        {% endif %}
    </div>



</body>
{% endblock %}
