<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block page-content %}
<head xmlns:cart="http://www.w3.org/1999/xhtml">
    <title>PlortShop.Zz</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    <div class="cart">
       {% if user.is_authenticated %}
            {% if cart %}
        <form method="post">
            {% csrf_token %}
            <table class="list">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>

                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a class="href" href="{% url 'card_plort' product %}">
                                    <img class="imgPR" src="{% static item.image %}">
                                </a>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td><a href="{% url 'cart_remove' product %}">Remove</a></td>
                            <td class="num">{{ item.price }}</td>
                            <td class="num">{{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">

                    <td colspan="3"></td>
                    <td>Total<br>price</td>
                    <td class="num"> {{ cart.get_total_price }}<br>newbucks</td>
                </tr>
                </tbody>
                </table>

                    <table class="delivery">
                        <tr>
                            <td>{{ form.dateDelivery.label_tag }}</td>
                            <td>{{ form.dateDelivery }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.deliveryAddress.label_tag }}</td>
                            <td>{{ form.deliveryAddress }}</td>
                        </tr>
                    </table>

                <table class="continue">
                    <tr>
                    <td><a href="{% url 'base' %}" class="button light">Continue shopping</a></td>
                    <td><input type="submit" value="Buy"></td>
                        <!--                    <td><a href="#" class="button">Checkout</a></td>-->
                    </tr>
                </table>
        </form>
                {% else %}
                    <table class="continue">
                        <tr>
                            <td>Cart empty</td>
                        </tr>
                    </table>
                {% endif %}

        {% else %}
            <p>To make purchases, you must register and log in.</p>
        {% endif %}
    </div>



</body>
{% endblock %}
